{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contact.fisrt_name}} {{contact.last_name}}
        </h1>

        <p>ID: {{ contact.id}}<br></p>
        <p>E-mail: {{ contact.email }}<br></p>
        <p>Phone: {{ contact.phone }}<br></p>
        <p>Create Date: {{ contact.created_date }}<br></p>
        <p>Description: {{ contact.description }}<br></p>
        <p>Category: {{ contact.category.name }}<br></p>

        {% if contact.picture %}
            <p>
                <img src="{{ contact.picture.url }}" alt="{{ contact.fisrt_name }} {{ contact.last_name }}">
            </p>
        {% endif %}

        <div class="contact-links">
            <a 
            class="btn btn-link" 
            href="{% url "contact:update" contact.id %}"
            >Update</a>

            <form action="{% url "contact:delete" contact.id %}" method="POST">
                {% csrf_token %}

                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button 
                    class="btn-delete" 
                    type="submit"
                    >Confirma?</button>
                {% else %}
                    <button 
                    class="btn-delete" 
                    type="submit"
                    >Delete</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}
